{%extends 'home_base.html' %}

{% block home_content %}

/* trial version  ---> aligning and code running in backend to enable */
<video id="video" autoplay></video>

<script>
    navigator.mediaDevices.getUserMedia({ video: true })
        .then(function(stream) {
            var videoElement = document.getElementById('video');
            videoElement.srcObject = stream;
        })
        .catch(function(err) {
            console.error('Error accessing the camera: ', err);
        });
</script>

{% endblock %}