{% extends 'home_base.html' %}

{% block title %}
    Home
{% endblock %}

{% block home_content %}
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: 'Quicksand', Arial, sans-serif;
    }

    aside {
        background-color: #333;
        color: #fff;
        width: 240px;
        height: calc(100vh - 55px); /* Adjust height to leave space for the header */
        position: fixed;
        left: 0;
        top: 55px; /* Adjust to account for the header height */
        z-index: 998; /* Ensure the sidebar appears below the header */
        overflow-y: auto; /* Enable scrolling for the sidebar if needed */
    }

    aside ul {
        list-style-type: none;
        padding: 5;
        margin: 20px 0;
    }

    aside ul li {
        padding: 10px;
        text-align: center;
    }

    aside ul li a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px;
        transition: background-color 0.3s;
        border-radius: 10px; /* Make corners round */
        font-weight: bold; /* Make font bold */
        margin-bottom: 10px; /* Add space between buttons */
    }

    aside ul li a:hover {
        background-color: #0f0;
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Add glow effect */
    }

    main {
        margin-left: 240px; /* Adjust according to the sidebar width */
        padding: 20px;
        margin-top: 120px; /* Adjust to account for the header height */
        display: flex;
        flex-direction: column; /* Stack blocks vertically */
        align-items: center; /* Center the blocks horizontally */
    }

    .block {
        width: 900px; /* Occupies full horizontal space */
        height: 100px; /* Height of 150px */
        margin-bottom: 20px;
        background-color: rgba(28, 152, 28, 0.5); /* Green color */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
        padding: 20px;
        text-align: center;
        font-size: 1.7em; 
        color: #fff; /* White text */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .block:hover{
        background-color: rgb(74, 180, 74);
        box-shadow: 0 0 25px  rgb(74, 180, 74);
        
    }
    .block a {
        color: #fff;
        text-decoration: none; /* Remove underline */
        font-family: 'Quicksand', Arial, sans-serif; /* Sans-serif font */
        font-weight: bold; /* Make text bold */
    }

    .block a:hover {
        text-decoration: none; /* Remove underline on hover */
        
    }
    #fire{
        margin-bottom: 90px;
    }
</style>

<aside>
    <nav>
        <ul>
            <br/><br/>
            <li><a href="{% url 'change_password' %}">Change Password</a></li>
            
            <li><a href="{% url 'logout' %}">Logout</a></li> 
        </ul>
    </nav>
</aside>
<main>
    <div>
        <section class="block"><a href="{% url 'in_and_out' %}">In & Out Count</a></section>
    </div>
    <div>
        <section class="block"><a href="{% url 'object_monitoring' %}">Object Monitoring</a></section>
    </div>
    <div>
        <section class="block" id="fire"><a href="{% url 'firedetection' %}">Fire Detection</a></section>
    </div>
</main>
{% endblock %}
